:root {
  --game-speed: 1s;
  --background0-speed: 0.123;
  --background1-speed: 3;
  --background2-speed: 10;
  --dino-speed: 1.5;
  --games-width: 768px;
}
 
* {
  margin: 0;
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
  background-color: #555;
}


.game {
  position: relative;
  width: 768px;
  height: 388px;
  margin: 20px auto 0;
  overflow: clip;
  clip-path: padding-box;
  /* outline: 2px solid #000; */
}

.background0, .background1, .background2, .background3 {
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  position: absolute;
  z-index: 10;
  width: 584px;
  height: 280px;
  background-color: #1b0018;
  top: -300px;
  left: 90px;

  transition: 0.5s;
  border-radius: 20px;

  color: #fff;
}

.modal.show {
  transition: 0.5s;
  top: 50px;
}

.ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.score-modal {
  justify-content: flex-start;
}

.twoColumns {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.background0 {
  z-index: 0;
  width: 832px;
  height: 41px; 
  background: url(./assets/background/ground.png) repeat-x;
  top:348px;
  right: -64px;
}

.background1 {
  width: 1152px;
  height: 123px;
  z-index: -1;
  background: url(./assets/background/graveyard.png) repeat-x;
  top: 270px;
  right: -384px;

}
.background2 {
  width: 960px;
  height: 179px;
  background: url(./assets/background/mountains.png) repeat-x;
  z-index: -2;
  top: 170px;
  right: -192px;
}
.background3 {
  width: 768px;
  height: 448px;
  z-index: -3;
  background: url(./assets/background/background.png) no-repeat;
  background-size: cover;
  

}

.background0-animation {
  animation: background0Mov calc(var(--game-speed) * var(--background0-speed)) infinite linear;
}

.background1-animation {
  animation: background1Mov calc(var(--game-speed) * var(--background1-speed)) infinite linear;
}

.background2-animation {
  animation: background2Mov calc(var(--game-speed) * var(--background2-speed)) infinite linear;
}

@keyframes background0Mov {
  0% {
    right: -64px;
  }
  100% {
    right: 0px;
  }
}

@keyframes background1Mov {
  0% {
    right: -384px;
  }
  100% {
    right: 0px;
  }
}

@keyframes background2Mov {
  0% {
    right: -192px;
  }
  100% {
    right: 0px;
  }
}


#dino {
  width: 47px;
  height: 47px;
  background-image: url(./assets/sprites/dino-idle.png);
  background-size: 47px 47px;
  position: relative;
  top: 310px;
  left: 5px;
  /* outline:red 1px solid; */
}

#cactus {
  width: 17px;
  height: 35px;
  background-image: url(./assets/sprites/cactuses_small_1.png);
  background-size: 17px 35px;
  position: relative;
  top: 275px;
  left: 782px;
  /* outline: green solid 1px; */
}

.score {
  width: 100px;
  height: 20px;
  left: 650px;
  top: -70px;
  position: relative;
  color: #fff;

  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 20px;
}



#dino.dino-run {

  background-image: url(./assets/sprites/dino-run.png);
  background-size: cover;
  animation: dinoMoveX 1s steps(8) infinite; 
}

#dino.dino-jump {

  background-image: url(./assets/sprites/dino-idle.png);
  background-size: cover;
  animation: jump 0.4s linear;
}

@keyframes dinoMoveX {
  from{background-position-x: 376px;}
  to{background-position-x:  0px}
}

@keyframes jump {
  0% {
    top: 290px;
  }
  25% {
    top: 250px;
  }
  50% {
    top: 210px;
  }
  75% {
    top: 250px;
  } 

  100% {
    top: 290px;
  }
}

.cactus-animation {
  animation: cactusMov calc(var(--game-speed) * var(--dino-speed)) infinite linear;
}


@keyframes cactusMov {
  0% {
    left: 782px;
  }
  100% {
    left: 0;
  }
}


/*MENU*/
.menu {
  display: flex;
  box-sizing: border-box;
  gap: 20px;
  width: 768px;
  margin: 0 auto;
  padding: 20px 30px 0 30px;
  background-color:#2c0127;

}
.btn {
  width: 150px;
  height: 40px;
  background-color: #333;
  color: #fff;
  border: #222 1px solid;
  border-radius: 5px;

  font-size: 20px;
  transition: 0.1s;
}

.btn:hover {
  background-color: #222;
  color: #ccc;
  border: #111 1px solid;
  transform: scale(1.1);
  cursor: pointer;
}
/*MENU*/

/* FOOTER*/
.footer {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  width: 768px;
  background-color:#2c0127;
  margin: 0 auto;
  padding: 10px 30px;
}

.footer-item {
  display: flex;
  align-items: center;
}

.footer-date {
  color: #000;
  padding-left: 30px;
  padding-right: 30px;
  font-size: larger;
  font-weight: 700;
}
/* FOOTER*/
